.item_all-content {
    display: flex;
    flex-wrap: wrap;
}

.item_all__header {
    width: 100%;
}

.header-list__link {
    text-decoration: none;
    color: black;
}

.header__border {
    border-bottom: 1px black solid;
}

.item_all__item {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.item__img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 5px;
}

.sold {
    color: red;
    margin: 0;
    font-size: 100px;
    position: absolute;
    top: 60px;
    left: 48px;
}

.item_name {
    text-decoration: none;
    color: black;
}